/* .ShowSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.summary{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.BookTicket {
  width: 300px;
  position: bottom;
  width: fit-content;
  padding: 10px;
  color: #0c0c0c;
  font-size: 18px;
  font-weight: bold;
  z-index: 999;
}

.group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

body {
  height: 100vh;
  background-color: #f8f9fa;
} */

.ShowList {
  background-color: rgba(117, 29, 29, 0.918);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ShowList .title {
  text-align: center;
  width: 100%;
  background-color: #9e2323;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.ShowList .show-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-top: 0px;
}

.ShowList .show-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  transition: transform 0.3s ease;
}

.ShowList .show-card:hover {
  transform: scale(1.05);
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {
  .ShowList .show-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet Devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .ShowList .show-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Larger Screens */
@media only screen and (min-width: 1025px) {
  .ShowList .show-list {
    grid-template-columns: repeat(4, 1fr);
  }
}